# Игнорировать все файлы в директории node_modules
node_modules/

# Игнорировать все .log файлы
*.log

# Игнорировать файл config.env
config.env

# Игнорировать все файлы в директории build
build/

# Игнорировать все .tmp файлы
*.tmp

# Игнорировать все файлы в директории .vscode
.vscode/

# Игнорировать все файлы в директории .idea
.idea/

# Игнорировать все .DS_Store файлы (специфично для macOS)
.DS_Store